@using FitnessAppIntership.Data
@model FitnessAppIntership.Models.SubscriptionViewModel
@inject ApplicationDbContext context

@{
    ViewData["Title"] = "Create Subscriotion";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>Subscription</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="MemberId" class="control-label"></label>
                <select asp-for="MemberId" class="form-control">
                    @foreach (var member in context.Members)
                    {
                        <option value="@member.Id">@string.Format("{0} {1}", member.FirstName, member.LastName)</option>
                    }
                </select>
                <span asp-validation-for="MemberId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionTypeId" class="control-label"></label>
                <select asp-for="SubscriptionTypeId" class="form-control">
                    @foreach(var type in context.SubscriptionTypes)
                    {
                        <option value="@type.Id">@type.Name</option>
                    }
                </select>
                <span asp-validation-for="SubscriptionTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DateOfPurchase" class="control-label"></label>
                <input asp-for="DateOfPurchase" class="form-control" value="@DateTime.Now.ToString("s")" />
                <span asp-validation-for="DateOfPurchase" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaidAmount" class="control-label"></label>
                <input asp-for="PaidAmount" class="form-control" />
                <span asp-validation-for="PaidAmount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <input asp-for="PaymentMethod" class="form-control" />
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsibleUserId" class="control-label"></label>
                <select asp-for="ResponsibleUserId" class="form-control">
                    @foreach (var user in context.Users)
                    {
                        <option value="@user.Id">@user.UserName</option>
                    }
                </select>
                <span asp-validation-for="ResponsibleUserId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
