@model FitnessAppIntership.Data.Entities.SubscriptionEntity

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>SubscriptionEntity</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            Subscription Type
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.SubscriptionType.Name)
        </dd>
        <dt class="col-sm-2">
            Member
        </dt>
        <dd class="col-sm-10">
            @string.Format("{0} {1} {2}", Model.Member.FirstName, Model.Member.SecondName, Model.Member.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfPurchase)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfPurchase)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ExpirationDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ExpirationDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaidAmount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaidAmount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentMethod)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentMethod)
        </dd>
        <dt class="col-sm-2">
            Responsible User
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ResponsibleUser.UserName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
